body {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  background-color: var(--surface-a);
}

.draggable-area {
  -webkit-app-region: drag;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* prime react  */
.p-card .p-card-content {
  padding: 0;
}
